{% extends "base.html" %}
{% block content %}
<main role="main" class="container pt-4 pb-5" id="my_container" data-url="">
    <div class="row">
        <div class="col-md-12">
            <h1>Delete File</h1>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <h2>Are you sure you want to delete the post {{object.title}}?</h2>
                <button type="submit">Yes, delete</button>
                <button> <a "ml-2" href="{% url 'post_detail' object.id %}">Cancel</a> </button>
            </form>
        </div>
    </div>
</main>
{% endblock content %}