{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load social_share %}
{% block content %}
<main role="main" class="container pt-4 pb-5" id="my_container" data-url="">
  <div class="row">
    <div class="col-md-12">

      <!-- Displaying Post Detail Here -->
      <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ post.owner.image.url }}">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="{% url 'profile' post.owner.username %}" id='author-name'
              data-author-id={{ post.owner.id }}>{{ post.owner.username }}</a>
            <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
          </div>
          <h1><a class="article-title" href="{% url 'post_detail' post.id %}" id='post-title'
              data-post-id={{ post.id }}>{{post.title}}</a></h1>
          <div class='row'>
            <div class="col-md-8">
              <div class='post-content'>
                <p class="text-justify" class="article-content">{{post.description}}</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class='post-img'>
                <img class="img-fluid" src="{{ post.thumbnail_image.url }}">
              </div>
            </div>
          </div>
          <div class="btn-toolbar py-3">
            <a class="btn btn-success btn-md px-5 mr-3" href="{{ post.uploaded_file.url }}">Download</a>
            {% if post.owner == user %}
            <a class="btn btn-primary btn-md px-5 mr-3" href="{% url 'post_update' post.id %}">Update</a>
            <a class="btn btn-danger btn-md px-5 mr-3" href="{% url 'post_delete' post.id %}">Delete</a>
            {% endif %}
          </div>
        </div>
      </article>

      <!-- Comments Section  -->
      <h4> Comment </h4>
      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <textarea class="form-control " style="height:200px;font-size:14pt;" id='comment_text' type="text"
          aria-label="Comment" name="q"> </textarea>
        <button id="comment_button" class="btn btn-primary my-4" type="button">Comment</button>
      </form>

      <hr>
      {% for comment in comments %}
      <div class=" col-md-12 comment">
        <strong>{{ comment.author.username }}</strong>
        <div class="date">{{ comment.comment_date_time |date:"F d, Y" }}</div>
        <p>{{ comment.comment_text|linebreaks }}</p>
      </div>
      <hr>
      {% empty %}
      <p>No comments here yet :(</p>
      {% endfor %}
      
    </div>
  </div>
</main>
<script>
  $("#comment_button").click(function () {

    var author_data = document.getElementById('author-name');
    var author_id = author_data.getAttribute('data-author-id');

    var post_data = document.getElementById('post-title');
    var post_id = post_data.getAttribute('data-post-id');

    var data = {};

    data.comment_text = $("#comment_text").val();
    data.author = author_id;
    data.post = post_id;

    $.ajax({
      type: 'POST',
      url: "http://127.0.0.1:8000/api/comment/",
      data: JSON.stringify(data),
      contentType: "application/json; charset=utf-8",
      dataType: "json",
      beforeSend: function (xhr, settings) {
        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
      },
      success: function (data) {

        location.reload(true);
      },
      failure: function (errMsg) {
        alert(errMsg);
      }
    });
  });
</script>
{% endblock content %}