{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load social_share %}
{% block content %}
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ post.owner.image.url }}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'profile' post.owner.username %}" data-owner-id={{ post.owner.id }}>{{ post.owner.username }}</a>
          <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
        </div>
        <h1><a class="article-title" href="{% url 'post_detail' post.id %}" data-post-id={{ post.id }}>{{post.title}}</a></h1>
        <div class='row'>
          <div class="col-md-8">
              <div class='post-content'>
                <p class="text-justify" class="article-content">{{post.description}}</p>   
              </div>
          </div>
          <div class="col-md-4">
            <div class='post-img'>
              <img class="img-fluid" src="{{ post.thumbnail_image.url }}">
            </div>
          </div>
        </div>
        <div class="btn-toolbar py-3">
          <a  class="btn btn-success btn-md px-5 mr-3" href="{{ post.uploaded_file.url }}">Download</a>
          {% if post.owner == user %}
            <a  class="btn btn-primary btn-md px-5 mr-3" href="{% url 'post_update' post.id %}" >Update</a>
            <a  class="btn btn-danger btn-md px-5 mr-3" href="{% url 'post_delete' post.id %}" >Delete</a>
          {% endif %} 
        </div>
      </div>
    </article>
    <div>
      <h4> Comment </h4>
      <form action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <textarea class="form-control " style="height:200px;font-size:14pt;" id='my_comment' type="text" aria-label="Comment" name="q"> </textarea>
          <button id="comment_button" class="btn btn-primary my-4" type="button">Comment</button>
      </form>
    </div>
    <hr>
    {% for comment in comments %}
      <div class=" col-md-12 comment">
          <strong>{{ comment.author.username }}</strong>
          <div class="date">{{ comment.comment_date_time |date:"F d, Y" }}</div>
          <p>{{ comment.comment_text|linebreaks }}</p>
          <button> Edit </button>
          <button> Delete </button>
      </div>
      <hr>
    {% empty %}
        <p>No comments here yet :(</p>
    {% endfor %}
    <script>
      $("button").click(function(){
        $.post("demo_test_post.asp",
        {
          name: "Donald Duck",
          city: "Duckburg"
        },
        function(data, status){
          alert("Data: " + data + "\nStatus: " + status);
        });
      });
     </script>
{% endblock content %}